<div class="container" style="margin-top: 50px">
  <h1>Team</h1>
  <hr>
  <div class="row">
    <div class="col-6">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" height="150" alt="">
      <h2>Diogo Andrade</h2>
      <p>diogo.andrade@ua.pt</p>
    </div>
    <div class="col-6">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" height="150" alt="">
      <h2>Gonçalo Freixinho</h2>
      <p>goncalofreixinho@ua.pt</p>
    </div>
  </div>
</div>
