<div class="container" style="margin-top: 50px">
  <h1>Api</h1>
  <hr>
  <table class="table">
    <tr>
      <th>URL</th>
      <th>REQUEST</th>
      <th>TYPE</th>
    </tr>
    <tr>
      <td>phones/</td>
      <td>Phones</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>phone_details/[id]/</td>
      <td>Phone Deatails</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>phone/</td>
      <td>Add and update phone</td>
      <td>POS</td>
    </tr>
    <tr>
      <td>phone/[id]/</td>
      <td>Remove phone</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>login/</td>
      <td>Login</td>
      <td>POST</td>
    </tr>
    <tr>
      <td>register/</td>
      <td>Register</td>
      <td>POST</td>
    </tr>
    <tr>
      <td>cart/</td>
      <td>Add phone to cart</td>
      <td>POST</td>
    </tr>
    <tr>
      <td>cart/[id]/</td>
      <td>Get cart from user</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>cart_del/[id]/</td>
      <td>Delete phone to cart</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>order/</td>
      <td>Get order from user</td>
      <td>GET</td>
    </tr>
    <tr>
      <td>order/[id]/</td>
      <td>Insert phone into cart</td>
      <td>POST</td>
    </tr>
  </table>
</div>
